.nyayaText span {
  opacity: 0; /* Initially set the opacity to 0 */
}

.fade-in {
  width: 48px;
  opacity: 1;
  animation: fadeIn 2s forwards;
}

.come_right {
  animation: slideIn 2s forwards, fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
